// variable color
// màu cơ bản 
$color-green-0: #00cb54; // màu cơ bản chủ đạo cho font chữ
$color-green-1: #28a745; //màu cơ bản cho nút button
$color-green-2:#0eae0e;
$color-yellow-1: #f4c150;  //sử dụng cho các icon nếu cần thiết
 $color-gray-1: #edeff0;  //sử dụng để làm màu nền
$color-gray-2: #f5f5f5; // sử dụng để làm màu nền 2
$color-white-3: #ffffff; // sử dụng để làm màu nền 3
$color-black-1: #29303b; //sử dụng để làm màu chữ
$color-black-2:#2c3238;//sử dụng làm màu nền màu đen
// một số màu khác tự định nghĩa do không sử dụng nhiều lần
// variable font-size
$fs-0: 16px; // chữ ở dạng cớ bản
$fs-1: 18px; //title ở các thẻ 
$fs-2: 30px; // title ở các mục lớn khác
$fs-3: 40px; // title phụ chủ yếu ở các trang con
$fs-4: 64px; // font- lớn nhất đc sử dụng làm thanh title lớn nhất
//Còn 1 font-size: 36px;
//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;
//variable border-radius
$border-radius: 2px;
//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;
//variable line-height
$line-height-0: 1.43; //default
//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;
//break points
$breakpoints:( 'extra-large': 1200px, 'large': 992px, 'medium': 768px, 'small': 576px, )