.management-courses {
  color: #ccc;
  max-height: 1200px !important;
  overflow-x: hidden;
  h3 {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .table {
    color: #ccc;
    th,
    td {
      border: none;
    }
    .admin-coursesItem {
      padding-top: 25px;
    }
  }
}
